<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>AJOUTER UNE DEMANDE</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/demandes/add}">Demande d'emploi</a>      
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/offres/listeOffre}">Voir offres</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}" th:inline="text" style="color: red;">[[${#httpServletRequest.remoteUser}]] Deconnexion</a>
      </li>
    </ul>
    
  </div>
</nav>
<br/>
<div class="container col-sm-6 col-md-8" >
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:2em">Liste des offres</div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tr >
                    <th style="text-align:center">Identifiant</th>
                    <th style="text-align:center">Nom</th>
                    <th style="text-align:center">Prénom</th>
                    <th style="text-align:center">Niveau d'Etude</th>
                    <th style="text-align:center">Expérience</th>
                    <th style="text-align:center">Motivation</th>
                    <th style="text-align:center">Action</th>
                    <th style="text-align:center">Action</th>
                </tr>
                <tr th:each="can:${liste_candidat}">
                    <td th:text="${can.id}"></td>
                    <td th:text="${can.nom}"></td>
                    <td th:text="${can.prenom}"></td>
                    <td th:text="${can.niveauEtude}"></td>
                    <td th:text="${can.experience}"></td>
                    <td th:text="${can.motivation}"></td>
                    <td><a th:href="@{/demandes/edit(id=${can.id})}">Update</a></td>
                    <td><a th:href="@{/demandes/delete(id=${can.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
